@model IEnumerable<L01P022023GL651.Models.Comentario>

<h1>Comentarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Comentario</th>
            <th>Usuario</th>
            <th>Publicación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CometarioId</td>
                <td>@c.ComentarioTexto</td>
                <td>@c.Usuario?.NombreUsuario</td>
                <td>@c.Publicacion?.Titulo</td>
            </tr>
        }
    </tbody>
</table>
